.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

/* For banner */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 160px;
  background-color: #c6e4d6;
  border-radius: 10px;
}

.banner-content {
  max-width: 700px;
  margin: 117px 60px;
}

.banner-title {
  font-size: 24px;
  color: #0e0e0e;
  font-weight: normal;
}
.banner-paragraph {
  font-size: 56px;
  font-weight: bold;
  color: #0e0e0e;
}

.primary-button {
  width: 270px;
  height: 56px;
  background-color: #006a50;
  font-size: 18px;
  color: #ffffff;
  border-radius: 5px;
}

.banner-image {
  width: 474.03px;
  height: 400px;
}

.hover:hover {
  background-color: green;
}

/* vision section */

.vision {
  margin: 80px 160px 0px 160px;
}
.vision-title {
  font-size: 40px;
  font-weight: bold;
}
.vision-text {
  font-size: 16px;
  font-weight: normal;
  color: rgba(14, 14, 14, 0.7);
}

.vision-container {
  display: flex;
  gap: 24px;

  padding: 32px 0px;
}

.skill_desc {
  padding: 24px 32px 97px;
}

.skill-btn {
  width: 122px;
  height: 41px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: none;
  margin: 24px 0px 32px 32px;
}

.btn1 {
  background-color: #5490f5;
}
.btn2 {
  background-color: #09a15c;
}
.btn3 {
  background-color: #ffc239;
}

.skill1 {
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 10px;
}
.skill2 {
  background-color: rgba(198, 228, 214, 1);
  border-radius: 10px;
}
.skill3 {
  background-color: rgba(255, 194, 57, 1);
  border-radius: 10px;
}

.skill-title {
  margin: 24px 32px 12px 32px;
}

/* news box */

.recent-news {
  margin: 80px 160px 0px 160px;
}

.head-img {
  width: 408;
  height: 306;
}

.news1 {
  display: flex;
  justify-content: flex-start;
}

.news-contain {
  flex: none;
  order: 0;
  /* align-self: stretch; */
  flex-grow: 0;
  margin: 0px 32px;
}

.news-btn {
  width: 139px;
  height: 48px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: none;
  margin: 24px 0px 32px 32px;
  background-color: #006a50;
  color: #ffffff;
}

.news-paragraph {
  font-size: 16px;
  font-weight: normal;
  color: rgba(14, 14, 14, 0.7);
}

.DT {
  display: flex;
  gap: 12px;
}
